In [10]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn import neighbors
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import KFold
from scipy.stats import norm
from operator import itemgetter
from sklearn.model_selection import cross_val_score

In [11]:
df = pd.read_csv(r"dataset\IPL_Data.csv",encoding="latin1")
df.head()

,Name,Team,Url,Type,ValueinCR,Full Name,Born,Age,National Side,Batting Style,...,Maidens,RunsConceded,Wickets,Best,3s,5s,BowlingAVG,EconomyRate,S/R,Mtc
0,Mayank Agarwal,PBKS,https://sports.ndtv.com/cricket/players/1430-m...,Batsman,12.00,Mayank Anurag Agarwal,"February 16, 1991 Bangalore, Karnataka","31 Years, 0 Months, 28 Days",India,Right Handed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Liam Livingstone,PBKS,https://sports.ndtv.com/cricket/players/64363-...,All-Rounder,11.50,Liam Stephen Livingstone,"August 4, 1993 Barrow-in-Furness, Cumberland","28 Years, 7 Months, 11 Days",England,Right Handed,...,0.0,13.0,0.0,0/13 v MI,0.0,0.0,NaN,13.00,NaN,1.0
2,Kagiso Rabada,PBKS,https://sports.ndtv.com/cricket/players/64042-...,Bowler,9.25,Kagiso Rabada,"May 25, 1995 Johannesburg","26 Years, 9 Months, 22 Days",South Africa,Left Handed,...,2.0,1560.0,76.0,4/21 v RCB,4.0,0.0,20.52,8.21,15.0,50.0
3,Shahrukh Khan,PBKS,https://sports.ndtv.com/cricket/players/113433...,All-Rounder,9.00,Masood Shahrukh Khan,"May 27, 1995 Chennai, Tamil Nadu","26 Years, 9 Months, 20 Days",India,Right Handed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Shikhar Dhawan,PBKS,https://sports.ndtv.com/cricket/players/737-sh...,Batsman,8.25,Shikhar Dhawan,"December 5, 1985 Delhi","36 Years, 3 Months, 10 Days",India,Left Handed,...,0.0,66.0,4.0,1/7 v DC,0.0,0.0,16.50,8.25,12.0,6.0

In [12]:
df.columns

Index(['Name', 'Team', 'Url', 'Type', 'ValueinCR', 'Full Name', 'Born', 'Age',
       'National Side', 'Batting Style', 'Bowling', 'Sport', 'MatchPlayed',
       'InningsBatted', 'NotOuts', 'RunsScored', 'HighestInnScore', '100s',
       '50s', '4s', '6s', 'BattingAVG', 'BattingS/R', 'CatchesTaken',
       'StumpingsMade', 'Ducks', 'R/O', 'InningsBowled', 'Overs', 'Maidens',
       'RunsConceded', 'Wickets', 'Best', '3s', '5s', 'BowlingAVG',
       'EconomyRate', 'S/R', 'Mtc'],
      dtype='object')

In [13]:
df.drop(['Url','Age','Full Name', 'Born', 'Sport', 'National Side', 'MatchPlayed','CatchesTaken',
       'StumpingsMade', 'Ducks', 'R/O', 'Maidens', 'Best', 'Mtc'],axis=1,inplace=True)

In [14]:
df.columns

Index(['Name', 'Team', 'Type', 'ValueinCR', 'Batting Style', 'Bowling',
       'InningsBatted', 'NotOuts', 'RunsScored', 'HighestInnScore', '100s',
       '50s', '4s', '6s', 'BattingAVG', 'BattingS/R', 'InningsBowled', 'Overs',
       'RunsConceded', 'Wickets', '3s', '5s', 'BowlingAVG', 'EconomyRate',
       'S/R'],
      dtype='object')

In [15]:
# Rename Columns
df.rename(columns={'T':'Runs_Scored','Balls_Bowled':'Balls_Bowled_Overs','Balls_Faced':'Balls_Faced_Overs',

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (Temp/ipykernel_31532/2769326193.py, line 2)